// ---------------------------------------
// |            Media-Queries            |
// ---------------------------------------
// medium+
$minWidth-640: 'only screen and (min-width: 40rem)';
$minWidth-768: 'only screen and (min-width: 48rem)';
$minWidth-1024: 'only screen and (min-width: 64rem)';


// ----------------------------------------------
// |            TYPOGRAPHY VARIABLES            |
// ----------------------------------------------
$p: 18px;
$p-medium: 21px;

// Heading sizes @small
$h1: 40px;
$h2: 31px;
$h3: 25px;
$h4: 20px;
$h5: 16px;
$h6: 14px;

// Heading sizes @medium+
// (min-width=640px)
$h1-medium: 48px;
$h2-medium: 40px;
$h3-medium: 31px;
$h4-medium: 25px;
$h5-medium: 16px;
$h6-medium: 14px;


// ---------------------------------------
// |            Global Colors            |
// ---------------------------------------
$black: #0a0a0a;
$linkBlue: #1779ba;
$linkBlue-hover: #1468a0;
$sncBlue: #566372;


// -----------------------------------------------------------
// |            Global Colors - color-scheme-dark            |
// -----------------------------------------------------------
$linkBlue_csd: #5ac8fa;
$linkBlue_csd-hover: #5ac8fa;


// --------------------------------------------
// |            Element Color Vars            |
// --------------------------------------------
$commentColor_primary: #fff;
$commentColor_secondary: #fafafa;


// ----------------------------------------------------
// |            COLORS - color-scheme-dark            |
// ----------------------------------------------------
$commentColor_primary-dark: #2b2c2e;
$commentColor_secondary-dark: #4a4a4d;
$articleBG-dark: #4a4a4d;
$pageBG-dark: #323233;



// ----------------------------------------------
// |            box-shadow Variables            |
// ----------------------------------------------
$z-1: 0 1px 4px 0 rgba(0,0,0,.37);
$z-2: 0 2px 2px 0 rgba(0,0,0,.20), 0 6px 10px 0 rgba(0,0,0,.30);
