a {
	color: $linkBlue;
	text-decoration: none;
	background-color: transparent;
	line-height: inherit;
}

a:hover,
a:focus {
	color: $linkBlue_hover;
	text-decoration: underline;
	text-decoration-thickness: rem-calc(2);
	text-underline-offset: rem-calc(4);
}

a:active {
	text-decoration: none;
}
