a {
	padding-bottom: 4px;
	color: $linkBlue;
	text-decoration: none;
	background-color: transparent;
	line-height: inherit;
}

a:hover,
a:focus {
	color: $linkBlue-hover;
	text-decoration: underline;
}
