blockquote {
	position: relative;
	display: block;
	width: 96%;
	padding: rem-calc(20);
	margin: 40px auto;
	border-radius: rem-calc(5);
	margin-top: rem-calc(40);
	background-color: $bodyBackground;

	p {
		font-size: rem-calc(16);
	}
}

blockquote::before {
	content: '“';
	font-size: 50px;
	line-height: 1em;
	font-family: 'Lato';
	font-weight: 700;
	color: $sncBlue;
	position: absolute;
	left: 10px;
	top: 10px;
}

blockquote + figcaption {
	width: 96%;
	margin: 0 auto;
	text-align: right;
	font-weight: normal;
	font-style: italic;
}
