h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: rem-calc(0 0 8);
	padding-top: rem-calc(18);
}

h1 {
	font-size: rem-calc(40);
}

h2 {
	font-size: rem-calc(31);
}

h3 {
	font-size: rem-calc(25);
}

h4 {
	font-size: rem-calc(20);
}

h5 {
	font-size: rem-calc(16);
	font-weight: normal;
}

h6 {
	font-size: rem-calc(14);
	font-weight: normal;
}

@media #{$minWidth-640} {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding-top: rem-calc(21);
	}
	h1 {
		font-size: rem-calc(48);
	}
	h2 {
		font-size: rem-calc(40);
	}
	h3 {
		font-size: rem-calc(31);
	}
	h4 {
		font-size: rem-calc(25);
	}
}
