pre,
code {
	font-family: "Source Code Pro", monospace;
	color: #fff;
	border-radius: rem-calc(4);
	-webkit-font-smoothing: auto;
	background-color: #313942;
	hyphens: none;
}

pre {
	display: block;
	width: 96%;
	padding: rem-calc(16);
	word-wrap: break-word;
	overflow: auto;
	margin: 0 auto rem-calc(18);

	code {
		font-size: rem-calc(16);
		padding: 0;
	}
}

code {
	font-size: 80%;
	padding: rem-calc(4);
}
