sub,
sup {
	// [normalize] - Prevent `sub` and `sup` elements from affecting the line height in all browsers.
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	// [normalize] - Prevent `sub` elements from affecting the line height in all browsers.
	bottom: -.25em;
}

sup {
	// [normalize] - Prevent `sup` elements from affecting the line height in all browsers.
	top: -.5em;
}
