// "featured" Tag

// On the main index blog roll
.entry__featured {
	display: inline-block;
	padding: rem-calc(2 8);
	border-radius: rem-calc(4);
	background: #333;
	color: #fff;
}

// In the article hero banner of a single post page
.single-post .entry__featured,
.page .entry__featured {
	margin-bottom: rem-calc(16);
	background: #fff;
	color: #000;
}
