// Disappearing blue <header> masthead

// blue <header>
.header {
	display: flex;
	z-index: 5;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: $sncBlue;
	box-shadow: $z-1;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

@media #{$minWidth-640} {
	.header {
		height: 75px;
	}
}

// ---------------------------------------------------------------------- //

// "STUDIO N CREATIONS BLOG" <p>
.header__title {
	line-height: 1.2;
	display: inline-block;
	margin: 0 0 0 8px;
	font-size: 22px;
	font-weight: 700;
}

@media #{$minWidth-1024} {
	.header__title {
		margin: 0 0 0 24px;
	}
}

// ---------------------------------------------------------------------- //

// "STUDIO N CREATIONS BLOG" <p> <a> /blog link
.header a {
	color: #fff;
	line-height: 1.2;
	text-decoration: none;
}

.header a:hover {
	color: #fff;
	text-decoration: underline;
}

// ---------------------------------------------------------------------- //

// "Nico's Projects & Pro-Tips"
// Show only for >640px
.header__description {
	display: none;
	color: #fff;
}

@media #{$minWidth-640} {
	.header__description {
		display: inline-block;
		margin: 0 0 0 12px;
		font-size: 12px;
	}
}

// ---------------------------------------------------------------------- //



.headroom {
	position: fixed;
	top: 0;
	left: 0;
	transition: transform .3s;
}

.headroom--pinned {
	transform: translate3d(0, 0, 0);
}

.headroom--unpinned {
	transform: translate3d(0, -100%, 0);
	box-shadow: none !important;
}
