@media (prefers-color-scheme: dark) {
	body.is-light {
		background: $bodyBackground;
		color: $bodyFontColor;
		-webkit-font-smoothing: antialiased;

		p {
			color: $pColor;
		}

		.entry {
			// background-color: $darkUI--articleBackground;
			background-color: initial;
			border: 1px solid #4e4f52;
		}

		.home .entry__content p,
		.archive .entry__content p,
		.search .entry__content p {
			color: #fff;
			color: initial;
		}

		.entry__featured {
			background: #fff;
			background: initial;
			color: #000;
			color: initial;
		}

		.entry__meta {
			color: $darkUI--bodyFontColor;
			color: initial;
		}

		.entry__footer {
			color: $darkUI--bodyFontColor;
			color: initial;
		}

		.single-post .entry,
		.page .entry {
			background-color: $darkUI--articleBackground;
			background-color: initial;
		}

		a {
			color: $darkUI--linkBlue;
			color: initial;

			&:hover,
			&:focus {
				color: $darkUI--linkBlue_hover;
				color: initial;
			}
		}

		.header__title,
		.header__title a,
		.header__description {
			color: #fff;
			color: initial;
		}

		blockquote {
			background-color: $darkUI--bodyBackground;
			background-color: initial;

			&:before {
				color: #fff;
				color: initial;
			}
		}

		.gnav {
			background-color: $darkUI--articleBackground;
			background-color: initial;
		}

		.gnav li.current-menu-item > a {
			color: $darkUI--linkBlue;
			color: initial;
		}

		.gnav a,
		.dark-toggle span {
			color: #fff;
			color: initial;
		}

		.gnav a:hover {
			color: $darkUI--linkBlue;
			color: initial;
		}

		.nav-links {
			border-top: 1px solid $darkUI--bodyFontColor;
			border-top: initial;
			border-bottom: 1px solid $darkUI--bodyFontColor;
			border-bottom: initial;
		}

		.nav-previous a {
			border-right: 1px solid $darkUI--bodyFontColor;
			border-right: initial;
		}

		.nav-previous a::before {
			border-color: $darkUI--linkBlue;
			border-color: initial;
		}

		.nav-next a::after {
			border-color: $darkUI--linkBlue;
			border-color: initial;
		}

		.comment {
			border: 1px solid #222;
			border-radius: 4px;
			background: $commentColor_primary-dark;
			background: initial;
		}

		.comment.depth-2,
		.comment.depth-4 {
			background: $commentColor_secondary-dark;
			background: initial;
		}

		.comment.depth-3,
		.comment.depth-5 {
			background: $commentColor_primary-dark;
			background: initial;
		}

		input[name='submit'] {
			background: $darkUI--linkBlue;
			background: initial;
			color: #333;
			border-radius: 4px;
		}

		textarea {
			background: #4a4a4d;
			background: initial;
			color: #fff;
			color: initial;
			border-radius: 4px;
		}
	}
}
