.publised-label,
.update-label {
	display: block;
}

@media #{$minWidth-640} {
	.publised-label,
	.update-label {
		display: inline;
	}
}


.publised-label time,
.publised-label span,
.update-label time,
.update-label span {
	margin-left: rem-calc(4);
}

@media #{$minWidth-640} {
	.update-label {
		margin-left: rem-calc(4);

		&::before {
			content: "| \00a0";
		}
	}
}
