// <footer> at bottom of every page

.footer {
	margin-top: 80px;
	padding: 100px 0;
	background: #fff url('https://studioncreations.com/img/index/bubble-bg/bubble-background.png') center/cover no-repeat;
	color: #fff;
	text-align: center;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $sncBlue;
		mix-blend-mode: multiply;
	}

	// © STUDIO N CREATIONS
	.colophon {
		text-transform: uppercase;
		letter-spacing: rem-calc(1.5);
		font-size: rem-calc(15);
		position: relative;
		z-index: 10;
	}
}


.sns-menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.sns-menu li {
	list-style: none;
	margin: 0 8px 16px;
}

.sns-menu a {
	display: block;
	color: #fff;
	transition: .3s;
}

.sns-menu a:hover {
	color: #1468a0;
}

.sns-menu .icon {
	font-size: 30px;
}
