// <footer> at bottom of every page

.footer {
	margin-top: 80px;
	padding: 100px 0;
	background: #fff url('https://studioncreations.com/img/index/bubble-bg/bubble-background.png') center/cover no-repeat;
	text-align: center;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $sncBlue;
		mix-blend-mode: multiply;
	}

	.prose-wrap {
		text-transform: uppercase;
		position: relative;
		z-index: 10;

		p,
		a {
			font-size: rem-calc(16);
			letter-spacing: rem-calc(1.5);
		}

		p {
			color: #fff;
		}

		a {
			color: #5ac8fa;
			text-decoration: underline;
			text-decoration-thickness: rem-calc(2);
			text-underline-offset: rem-calc(2);

			&:hover {
				text-underline-offset: rem-calc(4);
			}
		}
	}
}


.sns-menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.sns-menu li {
	list-style: none;
	margin: 0 8px 16px;
}

.sns-menu a {
	display: block;
	color: #fff;
	transition: .3s;
}

.sns-menu a:hover {
	color: #1468a0;
}

.sns-menu .icon {
	font-size: 30px;
}
