.entry__content ul,
.entry__content ol {
	padding: rem-calc(0 0 0 20);
	margin: rem-calc(16 0);
	text-align: left;
}

.entry__content ul li,
.entry__content ol li {
	margin-top: rem-calc(6);
}

.entry__content li ul,
.entry__content li ol {
	margin-top: rem-calc(8);
}
