.entry__content ul,
.entry__content ol {
	padding: 0 0 0 20px;
	margin: rem-calc(16 0);
}

.entry__content ul li,
.entry__content ol li {
	margin-top: rem-calc(6);
}

.entry__content li ul,
.entry__content li ol {
	margin-top: rem-calc(8);
}
