.site-content {
	display: block;
	width: 100%;
	margin: 40px auto 0;
}

@media #{$minWidth-640} {
	.site-content {
		width: 96%;
		max-width: rem-calc(700);
	}
}

.primary {
	width: 96%;
	margin: 0 auto;
	padding-right: 0;
}

@media #{$minWidth-640} {
	.primary {
		display: block;
		width: 100%;
	}
}

.secondary {
	display: block;
	width: 96%;
	margin: 40px auto 0;
}

@media #{$minWidth-640} {
	.secondary {
		width: 100%;
		margin: 40px auto 0;
	}
}

.single-post .site-content,
.page .site-content {
	width: 100%;
	max-width: inherit;
	margin-top: 0;
	padding-top: 0;
}

.single-post .primary,
.page .primary {
	width: 100%;
}

.single-post .secondary,
.page .secondary {
	width: 96%;
	max-width: rem-calc(700);
}

.error404 .primary {
	height: 350px;
	padding-top: 100px;
}

.page .fw-primary .entry__content {
	max-width: 100%;
	width: 100%;
}

.main-visual {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

@media #{$minWidth-768} {
	.main-visual {
		height: 400px;
	}
}

@media #{$minWidth-1024} {
	.main-visual {
		height: 500px;
	}
}

.main-visual__img {
	position: absolute;
	width: auto;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.entry__footer .cat-links,
.entry__footer .tags-links {
	display: flex;
	flex-wrap: wrap;
	margin-top: rem-calc(8);
}

.entry__footer .post-categories {
	display: inline-block;
	padding-left: 0;
}

.entry__footer li {
	display: inline-block;
	margin: 0;
}

.entry__footer {
	color: #999;
	// font-size: 14px;
}

.entry__footer a {
	padding: rem-calc(2 4);
}

.entry__footer .comments-link {
	display: block;
}

.entry__footer .edit-link {
	display: inline-block;
	margin-top: rem-calc(4);
}

.entry__footer .post-edit-link {
	display: inline-block;
	border-radius: rem-calc(3);
	border: none;
	background: #1779ba;
	color: #fff;
}

.entry__footer .post-edit-link:hover {
	background: #1468a0;
	color: #fff;
}

.widget {
	margin-top: rem-calc(40);
}

.widget:first-child {
	margin-top: 0;
}

.widget__title {
	margin: rem-calc(0 0 12 0);
	padding: 0;
	font-size: rem-calc(22);
	font-weight: normal;
}

.widget__title + div {
	padding-left: 12px;
}

.widget ul {
	padding-left: 12px;
}

.widget li {
	list-style: none;
	margin-top: rem-calc(8);
}

.widget li:first-child {
	margin-top: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_meta ul {
	display: flex;
	flex-wrap: wrap;
}

.widget_archive li,
.widget_categories li,
.widget_meta li {
	margin: rem-calc(0 12 12 0);
}

.entry {
	margin-top: rem-calc(24);
	padding: rem-calc(10);
	border: rem-calc(1) solid #eee;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	background-color: #fff;
	border-radius: rem-calc(12);
}

@media #{$minWidth-640} {
	.entry {
		padding: rem-calc(20);
	}
}

.entry:first-child {
	margin-top: 0;
}

.entry__title {
	overflow-wrap: break-word;
}

h2.entry__title {
	padding: 0;

	a {
		text-decoration-thickness: auto;
		text-underline-offset: auto;
	}
}

.entry__thumb + .entry__info {
	margin-top: rem-calc(16);
}

.entry__meta {
	color: #777;
}

.entry__meta,
.entry__content {
	margin-top: rem-calc(8);
}

.single-post .entry__info .entry__meta,
.page .entry__info .entry__meta {
	margin: rem-calc(8 0);
	color: #fff;
}

.single-post .entry,
.page .entry {
	padding: 0;
	box-shadow: none;
	border: none;
	background-color: $articleBackground;
}

.single-post .entry__thumb + .entry__info,
.page .entry__thumb + .entry__info {
	margin-top: 0;
}

.single-post .entry__info,
.page .entry__info {
	position: relative;
	z-index: 1;
	padding: rem-calc(0 10);
	color: #fff;
	vertical-align: middle;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	max-width: 100%;
}

@media #{$minWidth-768} {
	.single-post .entry__info,
	.page .entry__info {
		padding: rem-calc(0 60);
	}
}

.single-post .entry__info a,
.page .entry__info a {
	color: #fff;
	text-decoration: underline;
}

.single-post .entry__info a:hover,
.page .entry__info a:hover {
	text-decoration-thickness: rem-calc(2);
}

.single-post .entry__footer,
.page .entry__footer {
	display: block;
	width: 90%;
	padding: 0 rem-calc(16) rem-calc(40);
	max-width: rem-calc(700);
	margin: rem-calc(40) auto 0;
}

.single-post .posted-on,
.page .posted-on {
	display: block;
}

.single-post .byline,
.page .byline {
	display: block;
	margin-top: rem-calc(10);
}

.page-title {
	overflow-wrap: break-word;
}

.search .entry__content {
	margin: rem-calc(8 0 0);
}

.search .entry__footer {
	margin: 0;
}

.entry__thumb {
	position: relative;
	height: 0;
	padding-bottom: 40%;
	overflow: hidden;
	border-radius: $globalRadius;
}

.entry__thumb a {
	display: block;
	padding-bottom: 40%;

	&:hover {
		opacity: .8;
	}

	&:active {
		opacity: 1;
	}
}

form[role='search'] {
	position: relative;
}

form[role='search'] label {
	display: block;
	width: 100%;
}

form[role='search'] .search-field {
	display: block;
	width: calc(100% - 60px);
	height: 30px;
	padding: 0 0 0 8px;
	border: 1px solid #eee;
	border-right: none;
}

form[role='search'] .search-submit {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 60px;
	height: 30px;
	border: 1px solid #eee;
	background-color: #fff;
}

form[role='search'] .search-submit:hover {
	cursor: pointer;
}

.entry__content table {
	margin: 0 auto;
}

.entry__content th,
.entry__content td {
	padding: rem-calc(10);
}

.entry__content dl {
	margin-top: rem-calc(32);
}

.entry__content dt {
	margin-top: rem-calc(20);
}

.entry__content dd {
	margin-left: rem-calc(20);
}

.entry__content img {
	max-width: 96%;
	height: auto;
	border-radius: $globalRadius;
}

.entry__content address {
	font-size: rem-calc(14);
}

.page-links {
	margin: rem-calc(32) 0;
	text-align: center;
}

input[name='post_password'] {
	display: block;
	margin-top: 8px;
}

input[name='Submit'] {
	margin-top: 8px;
	display: inline-block;
	padding: 8px 12px;
	border-radius: 3px;
	border: none;
	background: #20b2aa;
	color: #fff;
}

input[name='Submit']:hover {
	cursor: pointer;
}
