legend {
	box-sizing: border-box; // Correct the text wrapping in Edge and IE.
	color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
	display: table; // Correct the text wrapping in Edge and IE.
	max-width: 100%; // Correct the text wrapping in Edge and IE.
	padding: 0; // Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
	white-space: normal; // Correct the text wrapping in Edge and IE.
}
